@import url('https://fonts.googleapis.com/css?family=Roboto');

/*Colores*/
#root{
   
}

*{
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    font-family: Roboto,Arial,sans-serif;
    -webkit-tap-highlight-color:transparent;
}

body,html,#root{
    min-height: 100%;
    min-width: 100%;
}

body {
    background-color: #ffffff;
}

a{
    cursor: pointer;
    text-decoration: inherit;
    color:inherit;
}

.box-shadow{
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.12);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.12);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.12);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}